body {
    background: lightgray;
}

#pageName {
    margin: 16px;
}

.container, .col1, .col2 {
   display: flex; 
   flex-direction: column;
}

#sectionTop {
    padding: 0px 28px;
    border: 1px solid white;
    border-radius: 6px;
    background: white;
}

#sectionMiddle, #sectionBottom {
    display: flex;
    justify-content: space-between;
}

#sectionBottom, #sectionMiddle, #sectionTop, #sectionQR {
    margin-top: 16px;
}

.col1, .col2 {
    border: 1px solid white;
    padding: 28px;
    border-radius: 6px;
    background: white;
}

.col1 {
    width: 40%;
    margin-right: 16px;
}

.col2 {
    width: 60%;
}

.mdl-textfield {
    width: 100%;
}

#sectionQR {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #sectionMiddle, #sectionBottom {
        flex-direction: column;
        margin-top: 10px;
     }
    .col1, .col2 {
        width: 100%;
        margin-right: 0px;
    }

    .col2 {
        margin-top: 10px;
    }
}

.deeplink-radio {
    margin: 8px 0;
}

#deeplink_custom_value {
    padding-top: 0;
}
